html {
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 20px;
}
h2,
p,
h4 {
  margin: 0;
}
#card {
  width: 600px;
  height: 400px;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  overflow: hidden;
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 25px;
}

#bottom-section {
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #2ab2b0;
  padding: 25px;
}

#bottom-right-section {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  background-color: #1ce8e5;
  padding: 25px;
}

#top-section h2 {
  color: #2ab2b0;
  margin-bottom: 20px;
}
#top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;
}
#top section p {
  color: #e5eff5;
}
button {
  color: white;
  background-color: #c0df34;
  border: none;
  padding: 10px;
  width: 90%;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  color: #c0df34;
  background-color: white;
  transform: scale(1.02);
}

#price {
  font-weight: 700;
  font-size: 1.4rem;
}

ul {
  list-style: none;
  opacity: 0.8;
  padding: 0;
  font-size: 0.8rem;
}
#bottom-left-section h4 {
  margin-bottom: 20px;
}

#bottom-left-section p {
  margin-bottom: 40px;
  font-size: 0.8rem;
}

#price-frequency,
#price {
  display: inline-block;
}

#price-frequency {
  position: relative;
  top: -5px;
  font-size: 0.8rem;
  opacity: 0.7;
}
#price-container {
  margin-bottom: 20px;
}
